.footer {
    background: #131517;
}

.footer__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: clamp(42px, 0.45rem + 5.8vw, 100px);
    margin-bottom: clamp(42px, 0.825rem + 4.8vw, 90px);

}

.footer__logo img {
    max-width: clamp(153px, 2.563rem + 18.67vw, 293px);
}

.footer__row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:5px clamp(25px, -35.938rem + 37.5vw, 100px);
}

.footer__contact-list {
    display: flex;
    gap: 25px 53px;
    align-items: center;
    justify-content: center;
}

.footer__contact-item {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: clamp(14px, 0.854rem + 0.08vw, 15px);
    letter-spacing: 0.03em;
    color: #fff;
}

.footer__contact-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__contact-item img {
    padding: 16px;
    display: inline-block;
    background: rgba(255, 255, 255, 0.07);
    height: clamp(45px, 2.25rem + 1.5vw, 60px);
    width: clamp(45px, 2.25rem + 1.5vw, 60px);
    border-radius: 50%;
    margin-right: 18px;
    color: #606571;
}

.footer__product-item {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.footer__route {
    margin-right: clamp(10px, -44.375rem + 45vw, 100px);
}

.footer__route-btn {
    height: 60px;
    width: 230px;
    background: none;
    color: #fff;
    border: 1px solid #F69020;
    padding: 25px;
}