:root {
    --accent-text: #1d6fb6;
    --white-text: #f8fcff;
    --font-family: "Muller-Trial"
}

* {
    box-sizing: border-box;
}


body {
    font-family: var(--font-family) "Arial", sans-serif;
    background: #191b20 url(/img/bg/bg-line.png) center center repeat-y;
    line-height: 1.5;
    color: #fff;
    z-index: -3;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

.container {
    max-width: 1850px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

.button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: clamp(11px, 0.646rem + 0.17vw, 13px);
    letter-spacing: 0.05em;
    text-transform: uppercase;
    height: 70px;
    width: 277px;
    padding: 3px 15px;

    color: #252121;
    background: linear-gradient(141deg, #ea422a 0%, #f69020 47.92%, #ffc619 100%);
}

.title {
    font-family: var(--font-family);
    font-weight: 900;
    font-size: clamp(36px, 1.438rem + 3.25vw, 75px);
    line-height: 1.25;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-top: 120px;
    margin-bottom: 33px;
}

.title-text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: clamp(18px, 1rem + 0.5vw, 24px);
    line-height: 200%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 45px;
}

.prev,
.next {
    cursor: pointer;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #2e3441;
    color: #606571;
    flex-shrink: 0;
    cursor: pointer;
}

.pagination {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 24px;
    line-height: 2;
    letter-spacing: 0.03em;
    color: #606571;
}

.pagination-white {
    color: white;
    font-size: 29px;
}