@import "global.css";
@import "header.css";
@import "benefits.css";
@import "faqs.css";
@import "footer.css";

/* ======================================================================*/

.promo__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    overflow: hidden;
    border-bottom: 2px dashed #606571;
    margin-bottom: 50px;
    height: 100%;
}

.promo__grid-item {
    height: clamp(90px, 4.792rem + 3.33vw, 130px);
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: center;
    background: #202124;
}

.promo__grid-item:nth-child(odd) {
    background: #282b32;
}

.promo__grid-img img {
    max-width: clamp(36px, 1.583rem + 2.67vw, 68px);
}

.promo__grid-text {
    font-family: var(--font-family);
    display: flex;
    align-items: center;
    justify-content: start;
    font-weight: 400;
    font-size: clamp(14px, 0.917rem + 5.33vw, 16px);
    letter-spacing: 0.03em;
}

.promo__grid-text::before {
    content: "";
    display: inline-block;
    width: 34px;
    height: 1px;
    background-color: #FFC619;
    margin-right: 40px;
}

/*---------------------------------------------------------------*/
.halls__inner {
    position: relative;
}

.tab-content {
    display: none;
    height: 400px;
    font-size: 40px;
    display: flex;
    align-items: start;
    display: none;
}

.tab-content--show {
    display: flex;
}

.tab-controls {
    display: flex;
    gap: 42px;
    margin-bottom: 35px;
}

.tab-controls__link {
    display: block;
    font-family: var(--font-family);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 0.05em;
    color: #606571;
    line-height: 1;
}

.tab-controls__link--active {
    color: #ffc619;
}

.tabs__info-general {
}

.tabs__info-general span {
    padding: 12px 44px 12px 12px;
    height: 4.4375rem;
    background: linear-gradient(262deg, rgba(0, 0, 0, 0)0, #473019 100%);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.05em;
    color: #fff;
    align-items: center;
}

.tabs__info-general img {
    height: 21px;
    width: 21px;
    margin-left: 12px;
}

.tabs__info-box {
    margin-top: 35px;
    min-width: 25vw;
}

/*
.halls__swiper {
    width: 100%;
    height: 100%;
}


.halls__slide {
    text-align: center;
    font-size: 18px;
    background: #444;
    display: flex;
    justify-content: center;
    align-items: center;
}

.halls__slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.halls__swiper {
    width: 100%;
    height: 300px;
margin-left: auto;
margin-right: auto;
}


.halls__slide {
    background-size: cover;
    background-position: center;
}

.halls__mySwiper2 {
    height: 80%;
    width: 100%;
}

.halls__mySwiper {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
}

.halls__mySwiper .halls__slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
}

.halls__mySwiper .halls__slide-thumb-active {
    opacity: 1;
}
*/

.halls__direct {
    margin-top: 50px;
    margin: auto;
   
}

/*
.halls__direct {
    align-items: start;
    justify-content: center;
    max-width: 300px;
}
*/

.halls__visual {
    position: absolute;
}

.halls__wrapper {   
    box-sizing: border-box;
    top: 0;
}
.halls__slide {
    background-size: cover;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
}
.halls__slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.thumbs__wrapper.swiper-slide-thumb-active {
    opacity: 1;
}

.thumbs__wrapper.swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
}





/*

.halls__slide-mini {
    opacity: 0.2;
    transform: 0.3s ease 0s;
}

.halls__slide-mini.swiper-slide-thumb-active {
    opacity: 1;
}

.halls__slider__image-mini {
    position: relative;
    padding: 0px 0px 30% 0px;
    cursor: pointer;
}

.halls__slider__image-mini img {
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

*/



/*---------------------------------------------------------------*/


.booking__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.booking__slide {
    padding: 40px 0;
    opacity: 0.3;
}

.booking__slide-img {
    position: relative;
}

.booking__phone-frame {
    position: absolute;
    z-index: 5;
    top: 3.5%;
    left: -7.5%;
    height: 505px;
    width: 285px;
}

.booking__slide-img img {
    border-radius: 25px;
    max-height: 474px;
    max-width: 252px;
}

.booking__slide-text {
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 25px;
    margin-top: 35px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: clamp(14px, 0.854rem + 0.08vw, 15px);
    line-height: 1.33;
    color: #fff;
    max-width: 230px;
}

.booking__slide-text img {
    width: 41px;
    height: 41px;
}

.booking__slide-text span {
    color: #f69020;
}

.swiper-slide-active.booking__slide {
    position: relative;
    overflow: visible;
    opacity: 1;
}

.swiper-slide-active.booking__slide::after {
    position: absolute;
    content: attr(data-number);
    top: 0%;
    left: clamp(6.25rem, 4.5245098039rem + 8.6274509804vw, 14.5rem);
    width: 61px;
    height: 61px;
    background-color: #F69020;
    border-radius: 50%;
    color: #fff;
    font-size: 20px;
    z-index: 8;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 2.67;
    letter-spacing: 0.03em;
    text-align: center;
    color: #fff;
}

.booking__direct {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 28px;
    max-width: 300px;
    margin: auto;
}

/*------------------------------*/

@media (max-width: 1600px) {

    .hero__visual-bg {
        position: absolute;
        top: -50px;
        left: -135px;
        z-index: -2;
        opacity: 0.28;
    }

    .hero__visual-dancer {
        top: -3rem;
        right: -35rem;
    }

    .hero__visual-bg {
        top: -3rem;
        left: -17rem;
    }

    .hero__visual-tag {
        top: 29rem;
        right: -9rem;
    }

    .promo__grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .item1 {
        grid-column: 1;
        grid-row: 1;
    }

    .item2 {
        grid-column: 2;
        grid-row: 1;
    }

    .item3 {
        grid-column: 2;
        grid-row: 2;
    }

    .item4 {
        grid-column: 1;
        grid-row: 2;
    }

    .footer__inner {
        justify-content: space-around;
    }

    .footer__row {
        gap: clamp(3.75rem, -10.833rem + 23.33vw, 12.5rem);
    }

    .footer__contact-list {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media (max-width: 1400px) {
    .hero__content-list {
        flex-direction: column;
        align-items: flex-start;
    }

    .hero__visual-dancer {
        top: -2rem;
        right: -23rem;
    }

    .hero__visual-bg {
        top: 9rem;
        left: -37rem;
    }

    .hero__visual-tag {
        top: 31rem;
        right: 6rem;
    }

    .benefits__grid-list {
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);
    }

    .benefits__microphone {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .benefits__microphone-img img {
        height: clamp(31.25rem, 15.833rem + 30.83vw, 42.813rem);
    }

    .benefits__button {
        position: static;
        padding: 3px clamp(0.5rem, -0.288rem + 1.4vw, 0.938rem);
    }
}


@media (max-width: 1300px) {
    .header__contact {
        position: fixed;
        inset: 0;
        box-shadow: 0 12px 27px 0 #000;
        background: #282b32;
        z-index: 30;
        padding: 100px 15px 30px;
        font-size: 24px;
        transform: translateY(-50%);
        opacity: 0;
        visibility: hidden;
        transition: all .4s;
        height: 50vh;
    }

    .header__contact-list {
        flex-direction: column;
        align-items: center;
    }

    .burger-icon {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .body--opened-menu .header__contact {
        transform: translateX(0%);
        opacity: 1;
        visibility: visible;
    }

    .hero__visual-dancer {
        top: -1rem;
        right: -20rem;
    }

    .hero__visual-tag {
        top: 33rem;
        right: 9rem;
    }
}

@media (max-width: 1200px) {

    .hero__visual-dancer {
        top: 4rem;
        right: -12rem;
    }

    .hero__visual-bg {
        top: 9rem;
        left: -44rem;
    }

    .hero__visual-tag {
        top: 36rem;
        right: 18rem;
    }

    .faqs__content {
        flex-direction: column;
        justify-content: center;
    }

    .faqs__slippers-text {
        padding: 0 clamp(0px, -6.25rem + 16.67vw, 100px);
    }
}


@media (max-width: 1000px) {

    .hero__visual-dancer {
        top: 8rem;
        right: -7rem;
    }

    .hero__visual-tag {
        top: 29rem;
        right: 19rem;
    }

    .hero__visual-bg {
        top: 11rem;
        left: -48rem;
    }

    .promo__grid {
        display: flex;
        flex-direction: column;
    }


    .benefits__content {
        flex-direction: column;
    }

    .footer__inner {
        flex-direction: column;
        justify-content: center;
        gap: 40px;
    }

    .footer__row {
        flex-direction: column;
        justify-content: center;
    }

    .footer__route {
        margin-top: -25px;
    }
}

@media (max-width: 800px) {
    .header__product {
        position: fixed;
        inset: 0;
        box-shadow: 0 12px 27px 0 #000;
        background: #282b32;
        z-index: 30;
        padding: 100px 15px 30px;
        font-size: 24px;
        transform: translateY(-50%);
        opacity: 0;
        visibility: hidden;
        transition: all .4s;
    }

    .header__contact {
        padding-top: 50px;
    }

    .header__product {
        display: none;
        ;
    }

    .header--show {
        display: flex;
    }

    .body--opened-menu .header__product {
        transform: translateX(0%);
        opacity: 1;
        visibility: visible;
    }

    .hero__visual-dancer {
        top: 9rem;
        right: -2rem;
    }

    .hero__visual-tag {
        top: 29rem;
        right: 16rem;
    }
}

@media (max-width: 680px) {

    .hero__visual-dancer {
        top: 15rem;
        right: -3rem;
    }

    .hero__visual-tag {
        top: 31rem;
        right: 11rem;
    }

    .benefits__grid-list {
        margin-top: 15px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, auto);
    }
}

@media (max-width: 400px) {

    .hero__visual-dancer {
        top: 15rem;
        right: -3rem;
    }

    .hero__visual-tag {
        top: 31rem;
        left: 9rem;
    }

    .hero__word::after {
        left: -484%;
        top: 108%;
    }
}