.benefits__inner {
    background: linear-gradient(180deg, rgba(96, 101, 113, 0) 0%, rgba(96, 101, 113, 0.05) 100%);
}

.benefit__title-text {
    margin-bottom: clamp(5px, -0.313rem + 1.67vw, 15px);
}

.benefits__content {
    display: flex;
    align-self: center;
}

.benefits__grid-title {
    margin-top: clamp(10px, -0.313rem + 2.5vw, 25px);
    font-family: var(--font-family);
    font-weight: 800;
    font-size: clamp(14px, 0.548rem + 1.54vw, 18px);
    line-height: 1.3;
    letter-spacing: 0.03em;
    color: #fff;
    padding-bottom: clamp(5px, -0.375rem + 1.83vw, 16px);
}

.benefits__grid-text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: clamp(13px, 0.567rem + 1.15vw, 16px);
    line-height: 1.3;
    color: #c5c5c5;
    margin-bottom: clamp(10px, -0.601rem + 5.77vw, 25px);
}

.benefits__grid-text span {
    font-weight: 700;
    color: #f69020;
}

.benefits__grid-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    align-self: center;
    gap: clamp(15px, 2.14vw, 30px);
    min-width: calc(66.66%);
}

.benefits__grid-item {
    background: #202124;
    display: flex;
    flex-direction: column;
    padding: clamp(5px, -1.25rem + 4.17vw, 30px) clamp(5px, 0.078rem + 0.63vw, 10px)  clamp(5px, -1.25rem + 4.17vw, 30px) clamp(10px, -1.25rem + 5vw, 40px);
    /*
    padding: 30px 10px 30px 40px;
    */
    justify-content: center;
}

.benefits__grid-item:nth-child(odd) {
    background: #282b32;
}

.benefits__grid-item img {
    max-width: clamp(35px, -1rem + 8.5vw, 86px);
    margin-bottom: clamp(2px, -0.375rem + 1.33vw, 10px);
}

.benefits__microphone {
    background-size: cover;        /* Растягивает фон на весь блок */
    background-position: center;   /* Центрирует изображение */
    background-repeat: no-repeat;  /* Запрещает повторение */
    height: 100%;     
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-block: auto;
}

.benefits__microphone::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../img/bg/bg-micro.png);
    background-size: cover;    
    opacity: .38;
    z-index: -1;
}

.benefits__microphone-img {
    max-width: clamp(250px, 6.563rem + 36.25vw, 685px);
}

.benefits__microphone-img:hover img {
    transform: scale(0.95);
    transition: transform 0.6s ease;
}

.benefits__button {
    position: absolute;
    right: 20%;
    bottom: -13%;
}