
.booking__inner {
    margin-bottom: 10px;
} 

.booking__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.booking__slide {
    padding: 40px 0;
    opacity: 0.3;
}

.booking__slide-img {
    position: relative;
}

.booking__phone-frame {
    position: absolute;
    z-index: 5;
    top: 3.5%;
    left: -7.5%;
    /* height: 505px; */
    height: clamp(260px, 11.962rem + 19.6vw, 505px);
    /* width: 285px; */
}

.booking__slide-img img {
    border-radius: 25px;
    max-height: 474px;
    max-width: 252px;
}

.booking__slide-text {
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 25px;
    margin-top: 35px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: clamp(14px, 0.854rem + 0.08vw, 15px);
    line-height: 1.33;
    color: #fff;
    max-width: 230px;
}

.booking__slide-text img {
    width: 41px;
    height: 41px;
}

.booking__slide-text span {
    color: #f69020;
}

.booking__slide-active {
    position: relative;
    overflow: visible;
    opacity: 1;
}

.booking__slide-active::after {
    position: absolute;
    content: attr(data-number);
    top: 0%;
    left: clamp(6.25rem, 4.5245098039rem + 8.6274509804vw, 14.5rem);
    width: 61px;
    height: 61px;
    background-color: #F69020;
    border-radius: 50%;
    color: #fff;
    font-size: 20px;
    z-index: 8;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 2.67;
    letter-spacing: 0.03em;
    text-align: center;
    color: #fff;
}

/* .booking__direct {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 28px;
    max-width: 280px;
    margin: 50px auto 50px 0;
} */

.booking__next,
.booking__prev {
    cursor: pointer;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #2e3441;
    color: #606571;
    flex-shrink: 0;
}

.booking-pagination {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 24px;
    line-height: 2;
    letter-spacing: 0.03em;
    color: #fff;
}
