.faqs__inner {
    background: linear-gradient(180deg, rgba(96, 101, 113, 0) 0%, rgba(96, 101, 113, 0.05) 100%);
    z-index: -2;
    margin-bottom: clamp(30px, -0.313rem + 8.75vw, 100px);
}

.faqs__title-text {
    margin-bottom: clamp(15px, -0.938rem + 5vw, 45px);
}

.faqs__content {
    display: flex;
    align-items: center;
    align-self: flex-start;
    gap: 25px 64px;
    height: 100%;
}

.faqs__body {
    max-width: 1200px;
    width: 100%;
    font-family: var(--font-family);
    font-weight: 400;
    line-height: 31px;
    color: #c5c5c5;
    min-width: calc(66.66%);
}

.faqs__body p {
    padding: clamp(10px, -0.078rem + 1.88vw, 25px);
    font-size: clamp(13px, 0.719rem + 0.38vw, 16px);
}

.faqs__body-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font-family);
    font-weight: 800;
    font-size: clamp(14px, 0.75rem + 0.5vw, 18px);
    line-height: 1.33;
    letter-spacing: 0.03em;
    color: #fff;
}

.faqs__body-img {
    width: 43px;
    height: 43px;
    box-shadow: 0 9px 16px 0 rgba(0, 0, 0, 0.21);
    background: #34373F;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #ffc619;
}

summary {
    display: block;
    background: #282b32;
    padding: 18px 25px;
    cursor: pointer;
}

summary:hover {
    background: #2e3136;
}

details+details {
    margin-top: 1rem;
}

slot:not([name]) {
    display: revert;
}

details[open] summary {
    background: #2e3136;
    transition: all .4s;
}

details[open] summary:hover {
    background: #34373F;
    transition: all .4s;
}

details[open] .faqs__body-img {
    background: #34373F;
    transform: rotate(180deg);
    transition: all .4s;
}

details[open] .faqs__body-img path {
    stroke: #606571;
    transition: all .10s;
}

/* details[open] summary:hover .faqs__body-img{
    border: 1px solid #43474f;
    outline: 3px solid #43474f;
    transition: all .4s;
} */

details>div {
    max-height: 0;
    overflow: hidden;
    transition: max-height .5s ease;
}

details[open]>div {
    max-height: 500px;
}

.faqs__slippers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: clamp(10px, -0.781rem + 3.75vw, 40px);
}

.faqs__slippers::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../img/bg/slippers-bg.png");
    background-size: cover;
    opacity: .38;
    z-index: -1;
}

.faqs__slippers-text {
    font-family: var(--font-family);
    font-weight: 900;
    font-size: clamp(20px, 0.875rem + 1.5vw, 32px);
    line-height: 1.62;
    letter-spacing: 0.03em;
    color: #fff;
    padding: 0 15px;
}

.faqs__slippers-text span {
    color: #f69020;
}

.faqs__slippers-img img {
    height: clamp(190px, 4.875rem + 35vw, 393px);
}

.faqs__slippers-img:hover img {
    transform: scale(0.95);
    transition: transform 0.6s ease;
}