@import "global.css";
@import "header.css";
@import "benefits.css";
@import "faqs.css";
@import "footer.css";

/* ======================================================================*/
html {
    scroll-behavior: smooth;
    scroll-padding-block-start: 3vw;
}

.promo__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    overflow: hidden;
    border-bottom: 2px dashed #606571;
    margin-bottom: 50px;
    height: 100%;
    z-index: 11;
}

.promo__grid-item {
    height: clamp(90px, 4.792rem + 3.33vw, 130px);
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: center;
    background: #202124;
}

.promo__grid-item:nth-child(odd) {
    background: #282b32;
}

.promo__grid-img img {
    max-width: clamp(36px, 1.583rem + 2.67vw, 68px);
}

.promo__grid-text {
    font-family: var(--font-family);
    display: flex;
    align-items: center;
    justify-content: start;
    font-weight: 400;
    font-size: clamp(14px, 0.917rem + 5.33vw, 16px);
    letter-spacing: 0.03em;
}

.promo__grid-text::before {
    content: "";
    display: inline-block;
    width: 34px;
    height: 1px;
    background-color: #FFC619;
    margin-right: 40px;
}

/*---------------------------------------------------------------*/
.halls__inner {
    position: relative;
    display: grid;
    grid-template-columns: clamp(140px, 20%, 470px) 1fr;
    align-items: stretch;
    width: 100%;
}

.halls__top {
    grid-column: 1;
    grid-row: 1;
    max-height: 285px;
}

.tab-controls {
    grid-column: 1;
    grid-row: 2;
}

.halls__tabs {
    grid-column: 1;
    grid-row: 3;
    /* margin-bottom: clamp(26px, 0.923rem + 3.3vw, 61px); */
    margin-bottom: 25px;
}

.halls__button {
    grid-column: 1;
    grid-row: 4;
    margin-bottom: clamp(10px, -2.102rem + 7.27vw, 90px);
}

.halls__gallery {
    position: relative;
    grid-column: 2;
    grid-row: 1 / 5;
    margin-top: -50px
}

.halls__top {
    background-color: #202124;
}

.halls__title {
    position: relative;
    z-index: 100;
    margin-top: clamp(10px, -1.42rem + 5.45vw, 70px);
}

.halls__title-text {
    margin-bottom: 0;
    position: relative;
    z-index: 100;
}

.tab-controls {
    margin-top: clamp(39px, 0.313rem + 5.67vw, 90px);
    margin-bottom: clamp(22px, 1.114rem + 1.23vw, 35px);
    display: flex;
    gap: 42px;
    flex-wrap: wrap;
}

.tab-controls__link {
    display: block;
    font-family: var(--font-family);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 0.05em;
    color: #606571;
    line-height: 0;
    background: transparent;
}

.tab-controls__link:hover {
    color: #a4abbd;
}

.tab-panel {
    display: none;
}

.tab-panel.tab-panel--active {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 16px;
    box-sizing: border-box;

    width: 100%;
}

.tab-controls__link.is-active {
    color: #ffc619;
}

.tabs__info {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.tabs__info-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: start;
    margin-bottom: clamp(28px, 0.748rem + 4.72vw, 78px);
}

.tabs__info-general span {
    padding: 8px 44px 8px 10px;
    background: linear-gradient(262deg, rgba(0, 0, 0, 0)0, #473019 100%);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: clamp(14px, 0.688rem + 0.5vw, 18px);
    letter-spacing: 0.05em;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 12px;
}

.tabs__info-general img {
    height: 21px;
    width: 21px;
    margin-left: 12px;
}

.gallery__direct {
    display: flex;
    align-items: center;
    gap: 18px;
    margin-right: auto;
}

.halls__inner>* {
    min-width: 0;
    min-height: 0;
}

.halls__gallery .swiper {
    min-width: 0;
    min-height: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.gallery-swiper {
    height: 80%;
    width: 100%;
}

.halls__slide {
    background-size: cover;
    background-position: center;
}

.halls__slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.thumbs__swiper {
    height: 20%;
    box-sizing: border-box;
}

.thumbs__swiper .swiper-wrapper {
    display: flex;
    align-items: center;
    height: 100%;
}

.thumbs__swiper .halls__slide {
    width: 20%;
    height: 100%;
    opacity: 0.4;
}

.thumbs__swiper .swiper-slide-thumb-active {
    opacity: 1;
}

/*---------------------------------------------------------------*/

.booking__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.booking__slide {
    padding: 40px 0;
    opacity: 0.3;
}

.booking__phone-frame {
    position: relative;
    z-index: 5;
    top: 3.5%;
    left: -7.5%;
    height: var(--phone-height);
    width: calc(var(--phone-height) * 0.564);
}

.booking__slide[data-number="1"] .booking__phone-frame::before {
    background-image: url("../img/content/Booking/1.jpg");
}

.booking__slide[data-number="2"] .booking__phone-frame::before {
    background-image: url("../img/content/Booking/2.jpg");
}

.booking__slide[data-number="3"] .booking__phone-frame::before {
    background-image: url("../img/content/Booking/3.jpg");
}

.booking__slide[data-number="4"] .booking__phone-frame::before {
    background-image: url("../img/content/Booking/4.jpg");
}

.booking__slide[data-number="5"] .booking__phone-frame::before {
    background-image: url("../img/content/Booking/5.jpg");
}

.booking__slide[data-number="6"] .booking__phone-frame::before {
    background-image: url("../img/content/Booking/6.jpg");
}


.booking__slide[data-number="7"] .booking__phone-frame::before {
    background-image: url("../img/content/Booking/7.jpg");
}

.booking__slide[data-number="8"] .booking__phone-frame::before {
    background-image: url("../img/content/Booking/8.jpg");
}

.booking__slide[data-number="9"] .booking__phone-frame::before {
    background-image: url("../img/content/Booking/9.jpg");
}

.booking__slide[data-number="10"] .booking__phone-frame::before {
    background-image: url("../img/content/Booking/10.jpg");
}

/* Снимок экрана в ::before с ОТСТУПАМИ */
.booking__phone-frame::before {
    content: "";
    position: absolute;
    /* Отступы под бортики рамки - ПОДБИРАЙТЕ ПОД ВАШУ РАМКУ! */
    top: 5%;
    /* Верхний борт */
    left: 7%;
    /* Левый борт */
    right: 7%;
    /* Правый борт */
    bottom: 3%;
    /* Нижний борт (обычно больше из-за "челки") */

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    /* Скругление углов экрана */
    border-radius: 25px;
    /* Меньше, чем у рамки */
    overflow: hidden;
    z-index: 1;
}

/* Рамка телефона в ::after */
.booking__phone-frame::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/decor/frame.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 2;
    /* Поверх снимка */
    pointer-events: none;
}

.booking__slide-text {
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 25px;
    margin-top: 35px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: clamp(14px, 0.854rem + 0.08vw, 15px);
    line-height: 1.33;
    color: #fff;
    max-width: 230px;
}

.booking__slide-text img {
    width: 41px;
    height: 41px;
}

.booking__slide-text span {
    color: #f69020;
}

.swiper-slide-active.booking__slide {
    position: relative;
    overflow: visible;
    opacity: 1;
}

.swiper-slide-active.booking__slide::after {
    position: absolute;
    content: attr(data-number);
    top: 0%;
    left: clamp(6.25rem, 4.5245098039rem + 8.6274509804vw, 14.5rem);
    width: 61px;
    height: 61px;
    background-color: #F69020;
    border-radius: 50%;
    color: #fff;
    font-size: 20px;
    z-index: 8;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 2.67;
    letter-spacing: 0.03em;
    text-align: center;
    color: #fff;
}

.booking__direct {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: clamp(7px, 0.742rem + 1.36vw, 20px);
    /* max-width: clamp(240px, 10.89rem + 7.63vw, 305px); */
    margin: 0 auto;
    padding-bottom: 5px;
}

/*------------------------------*/

@media (max-width: 1600px) {

    .hero__visual-bg {
        position: absolute;
        top: -50px;
        left: -135px;
        z-index: -2;
        opacity: 0.28;
    }

    .hero__visual-dancer {
        top: -3rem;
        right: -35rem;
    }

    .hero__visual-bg {
        top: -3rem;
        left: -17rem;
    }

    .hero__visual-tag {
        top: 29rem;
        right: -9rem;
    }

    .promo__grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .item1 {
        grid-column: 1;
        grid-row: 1;
    }

    .item2 {
        grid-column: 2;
        grid-row: 1;
    }

    .item3 {
        grid-column: 2;
        grid-row: 2;
    }

    .item4 {
        grid-column: 1;
        grid-row: 2;
    }

    .footer__inner {
        justify-content: space-around;
    }

    .footer__row {
        gap: clamp(3.75rem, -10.833rem + 23.33vw, 12.5rem);
    }

    .footer__contact-list {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media (max-width: 1400px) {
    .hero__content-list {
        flex-direction: column;
        align-items: flex-start;
    }

    .hero__visual-dancer {
        top: -2rem;
        right: -23rem;
    }

    .hero__visual-bg {
        top: 9rem;
        left: -37rem;
    }

    .hero__visual-tag {
        top: 31rem;
        right: 6rem;
    }

    .benefits__grid-list {
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);
    }

    .benefits__microphone {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .benefits__microphone-img img {
        height: clamp(18.75rem, 9.125rem + 38.5vw, 42.813rem);
    }

    .benefits__button {
        position: static;
        padding: 3px clamp(0.5rem, -0.288rem + 1.4vw, 0.938rem);
    }

}


@media (max-width: 1300px) {
    .header__contact {
        position: fixed;
        inset: 0;
        box-shadow: 0 12px 27px 0 #000;
        background: #282b32;
        z-index: 30;
        padding: 100px 15px 30px;
        font-size: 24px;
        transform: translateY(-50%);
        opacity: 0;
        visibility: hidden;
        transition: all .4s;
        height: 50vh;
    }

    .header__contact-list {
        flex-direction: column;
        align-items: center;
    }

    .burger-icon {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .body--opened-menu .header__contact {
        transform: translateX(0%);
        opacity: 1;
        visibility: visible;
    }

    .hero__visual-dancer {
        top: -1rem;
        right: -20rem;
    }

    .hero__visual-tag {
        top: 33rem;
        right: 9rem;
    }
}

@media (max-width: 1200px) {

    .hero__visual-dancer {
        top: 4rem;
        right: -12rem;
    }

    .hero__visual-bg {
        top: 9rem;
        left: -44rem;
    }

    .hero__visual-tag {
        top: 36rem;
        right: 18rem;
    }

    .halls__inner {
        display: grid;
        grid-template-columns: 1fr;
        /* задаём строки последовательно: top, tab-controls, gallery, tabs, button */
        grid-template-rows: auto auto auto auto auto;
        gap: 0;
        /* по необходимости */
    }

    /* Переопределяем явные позиции элементов */
    .halls__top {
        grid-column: 1;
        grid-row: 1;
    }

    .tab-controls {
        grid-column: 1;
        grid-row: 2;
    }

    .tabs__info {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 30px;
        margin-top: 15px;
    }

    .tabs__info-box {
        margin-bottom: 0px;
    }

    .halls__gallery {
        grid-column: 1;
        grid-row: 3;
        margin-top: 0;
        /* margin-left: 250px; */
    }

    .halls__tabs {
        grid-column: 1;
        grid-row: 4;
    }

    .halls__button {
        grid-column: 1;
        grid-row: 5;
        margin-inline: auto;
    }

    .faqs__content {
        flex-direction: column;
        justify-content: center;
    }

    .faqs__slippers-text {
        padding: 0 clamp(0px, -6.25rem + 16.67vw, 100px);
    }
}


@media (max-width: 1000px) {

    .hero__visual-dancer {
        top: 8rem;
        right: -7rem;
    }

    .hero__visual-tag {
        top: 29rem;
        right: 19rem;
    }

    .hero__visual-bg {
        top: 11rem;
        left: -48rem;
    }

    .promo__grid {
        display: flex;
        flex-direction: column;
    }


    .benefits__content {
        flex-direction: column;
    }

    .benefits__microphone {
        background-size: contain;
    }

    .benefits__button {
        margin-bottom: 30px;
    }

    .footer__inner {
        flex-direction: column;
        justify-content: center;
        gap: 40px;
    }

    .footer__row {
        flex-direction: column;
        justify-content: center;
    }

    .footer__route {
        margin-top: -25px;
    }
}

@media (max-width: 800px) {
    .header__product {
        position: fixed;
        inset: 0;
        box-shadow: 0 12px 27px 0 #000;
        background: #282b32;
        z-index: 30;
        padding: 100px 15px 30px;
        font-size: 24px;
        transform: translateY(-50%);
        opacity: 0;
        visibility: hidden;
        transition: all .4s;
    }

    .header__contact {
        padding-top: 50px;
    }

    .header__product {
        display: none;
        ;
    }

    .header--show {
        display: flex;
    }

    .body--opened-menu .header__product {
        transform: translateX(0%);
        opacity: 1;
        visibility: visible;
    }

    .hero__visual-dancer {
        top: 9rem;
        right: -2rem;
    }

    .hero__visual-tag {
        top: 29rem;
        right: 16rem;
    }
}

@media (max-width: 680px) {

    .hero__visual-dancer {
        top: 15rem;
        right: -3rem;
    }

    .hero__visual-tag {
        top: 31rem;
        right: 11rem;
    }

    .hero__button {
        margin-top: 95px;
        padding: 3px 10px;
    }

    .benefits__grid-list {
        margin-top: 15px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, auto);
    }

    .benefits__grid-item {
        padding-left: clamp(30px, 0.375rem + 12.35vw, 90px);
    }
}


@media (max-width: 500px) {
    .halls__tabs {
        justify-self: center;
    }

    .tabs__info {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .tabs__info-box {
        margin-bottom: 10px;
    }

}


@media (max-width: 400px) {

    .hero__visual-dancer {
        top: 15rem;
        right: -3rem;
    }

    .hero__visual-tag {
        top: 31rem;
        left: 9rem;
    }

    .hero__word::after {
        left: -484%;
        top: 108%;
    }

    .hero__button {
        margin-top: 0px;
    }
}